{
    "version": 3,
    "nodes": [
        {
            "id": "{{id}}",
            "type": "Request",
            "name": "{{name}}",
            {{#has_headers}}
            "headers": [
                {{#headers}}
                {
                     "enabled": true,
                     "name": "{{{name}}}",
                     "value": "{{{value}}}"
                }{{^last}},{{/last}}
                {{/headers}}
            ],
            "headersType": "Form",
            {{/has_headers}}
                "method": {
                    "name": "{{method}}"
            },
            "body": {
                {{#has_formParams}}
                "formBody": {
                    "overrideContentType": true,
                    "encoding": "application/x-www-form-urlencoded",
                    "items": [
                    {{#formParams}}
                    {
                        "enabled": true,
                        "name": "{{{name}}}",
                        "value": "{{{value}}}",
                        "type": "Text"
                    }{{^last}},{{/last}}
                    {{/formParams}}
                    ]
                },
                "bodyType": "Form"
                {{/has_formParams}}
            },
            "uri": {
                "path": "{{{path}}}",
                {{#has_queryParams}}
                "query": {
                    "delimiter": "&",
                    "items": [
                    {{#queryParams}}
                    {
                      "enabled": true,
                      "name": "{{{name}}}",
                      "value": "{{{value}}}"
                    }{{^last}},{{/last}}
                    {{/queryParams}}
                    ]
                },
                {{/has_queryParams}}
                "scheme": {
                    "name": "{{scheme}}",
                    "version": "V11"
                }
            }
        }
    ]
}
